<%- include('../includes/navigation.ejs') %>
<style>
    .button{
        cursor: pointer;
    }
</style>

<!--Image main-->
<div class="building">
    <img src="../public/images/main2.jpg" width="100%" height="900px">
</div>

<!--Projects-->

<div id="projects" style="margin:55px 5px 5px 5px">
    <h1 style="font-size:30px;font-weight: 50">Projects</h1>
    <p style="opacity: 0.1; text-align: center;margin-bottom: 30px">_______________________________________________________________________________________________________________________________________________________________</p>
</div>

<!--Images-->
<div style="margin:5px 5px 5px 10px">
    <div class="row">
        <div class="column" >
            <p id="housetype" style="width:150px">Summer House</p>
            <img src="../public/images/1.jpg" width="360px" height="200px" >
        </div>
        <div class="column">
            <p id="housetype">Brick House</p>
            <img src="../public/images/2.jpg" width="360px" height="200px">
        </div>
        <div class="column">
            <p id="housetype">Renovated</p>
            <img src="../public/images/3.jpg" width="360px" height="200px">
        </div>
        <div class="column">
            <p id="housetype">Barn House</p>
            <img src="../public/images/4.jpg" width="360px" height="200px">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <p id="housetype">Sexy House</p>
            <img src="../public/images/5.jpg" width="360px" height="200px">
        </div>
        <div class="column">
            <p id="housetype" style="width:150px">Not Sexy House</p>
            <img src="../public/images/6.jpg" width="360px" height="200px">
        </div>
        <div class="column">
            <p id="housetype" style="width:150px">Amazing House</p>
            <img src="../public/images/7.jpg" width="360px" height="200px">
        </div>
        <div class="column">
            <p id="housetype">Cheap House</p>
            <img src="../public/images/8.jpg" width="360px" height="200px">
        </div>
    </div>
</div>


<!--About-->
<div id="about">
    <h3 style="font-size:30px;font-weight: 50">About</h3>
    <p>
        This Website and our company is all about selling apartments, houses on rent to people .
        Major advantage people get is no Brokarage Charges, no need to go outside your home. Just sit on your couch and search for one.
        You'll get everything done with us.
        Here is a list of our CEO's, CTO's. Have a look .

    </p>
</div>
<br><br>
<div class="container">
    <div class="naveen">
        <img src="../public/images/9.jpg" width="300px" height="200px" style="padding: 5px 5px 5px 5px">
        <div style="font-family:'Serif',Times, New Roman; font-weight: bolder; font-size: 20px">Naveen Kumar</div>
        <div style="font-family: 'Courier New', Courier, monospace">Ceo & Founder</div><br><div style="padding: 5px 5px 5px 5px; ">Phasellus eget enim eu lectus faucibus<br> vestibulum. Suspendisse sodales<br> pellentesque elementum.</div>
        <div class="button" onclick="location.href='/home/naveen';">Contact</div>

    </div>
    <div class="parikshit">
        <img src="../public/images/10.jpg" width="300px" height="200px" style="padding: 5px 5px 5px 5px">
        <div style="font-family:'Serif',Times, New Roman; font-weight: bolder; font-size: 20px">Parikshit Singh</div>
        <div style="font-family: 'Courier New', Courier, monospace">CTO</div><br><div style="padding: 5px 5px 5px 5px">Phasellus eget enim eu lectus faucibus<br> vestibulum. Suspendisse sodales<br> pellentesque elementum.</div>
        <div class="button" onclick="location.href='/home/parikshit';">Contact</div>

    </div>
    <div class="torque">
        <img src="../public/images/11.jpg" width="300px" height="200px" style="padding: 5px 5px 5px 5px"  >
        <div style="font-family:'Serif',Times, New Roman; font-weight: bolder; font-size: 20px">Torque</div>
        <div style="font-family: 'Courier New', Courier, monospace">Nobody</div><br><div style="padding: 5px 5px 5px 5px">Phasellus eget enim eu lectus faucibus<br> vestibulum. Suspendisse sodales<br> pellentesque elementum.</div>
        <div class="button" onclick="location.href='/home/satvik';">Contact</div>

    </div>
    <div class="chrissy">
        <img src="../public/images/12.jpg" width="300px" height="200px" style="padding: 5px 5px 5px 5px">
        <div style="font-family:'Serif',Times, New Roman; font-weight: bolder; font-size: 20px">Chrissy Costanza</div>
        <div style="font-family: 'Courier New', Courier, monospace">Ceo & Founder</div><br><div style="padding: 5px 5px 5px 5px; ">Phasellus eget enim eu lectus faucibus<br> vestibulum. Suspendisse sodales<br> pellentesque elementum.</div>
        <div class="button" onclick="location.href='/home/nikhil';">Contact</div>

    </div>
</div>

<!--Contact-->
<div class="contact">
    <h5 style="font-size:30px;font-weight: 50">Contact</h5>
    <p style="opacity: 0.1; text-align: center">_______________________________________________________________________________________________________________________________________________________________</p>
    <p>Lets get in touch and talk more about your next project</p><br>

    <form method="POST" action="/add-product">
       
        <input type="text" name="name" placeholder="  Name" style="width:100%; height: 45px"><br><br>
        <input type="text" name="email" placeholder="  Email" style="width:100%; height: 45px"><br><br>
        <input type="text" name="address" placeholder="  Address" style="width:100%; height: 45px"><br><br>
        <input type="text" name="comment" placeholder="  Comments" style="width:100%; height: 45px"><br><br>
        <button type="submit" style="background-color:rgba(41, 141, 255, 0.808);color:white; width: 200px; height:55px">Send Message</button>
    </form>

</div><br>

<div class="last"><p style="margin-top:25px">Powered By Parikshit Singh</p></div>

</body>

</html>