<%- include('../includes/navigation.ejs') %>
<br>


<link rel="stylesheet" type="text/css" media="screen" href="../assets/profile.css" />

<h2 class="backheading">> About</h2>
<br>
<div class="profile-div">

    <div class="profile-image">
        <img id="bannerImage" src="../public/images/one.jpg" height="95%" width="50%">
        <img src="../public/images/two.jpg" style="display: none" height="90%" width="60%">
    </div>
    
    <div class="profile-description">
        <h1 class="innerheading">I'm A Techinical Manager</h1>
        <p>Full Name - Naveen Kumar Meena</p>
        
        <p>Father's Name - Parikshit Singh</p>

        <p>Date of Birth - 24/05/2002</p>

        <p>Phone Number -9413975022</p>
        
        <p>Education -Bauth jyada</p>
        
        <p> Achievements -CEO - Ultrabot Innovation</p>
        
        <p>Description -Naveen Kumar Meena was a great man. He died last year. May his soul rest in piece.</p>
    </div>

</div>
<br><br><br><br><br><br><br><br><br>


<h2 class="backheading">> Services</h2>
<br>
<div class="profile-skills">
<!-- Total Flex -->

    <div class="vertical-skill">
                S E R V I C E S ____
    </div>
    
    <div class="left-skill">
            <!-- 4 Skill Flex -->
            <h2 class="small-skill">MY SERVICES</h2>
            <h3 class="big-skill">Here are some of my skills</h3><br><br>

            <div class="skill-flex">
                <div class="skill-1">
                    <h4>1 - Graphic Design</h4>
                    <ul>
                            <li>UI Design</li>
                            <li>Website & Digital Design</li>
                            <li> Brading & Visual Identity</li>
                            <li>Print Design</li>
                    </ul>  
                </div>
                <div class="skill-2">
                        <h4>2 - Web Development</h4>
                        <ul>
                                <li>UI Design</li>
                                <li>Website & Digital Design</li>
                                <li> Brading & Visual Identity</li>
                                <li>Print Design</li>
                        </ul> 
                </div>
                <div class="skill-3">
                        <h4>3 - Stock Market</h4>
                        <ul>
                                <li>UI Design</li>
                                <li>Website & Digital Design</li>
                                <li> Brading & Visual Identity</li>
                                <li>Print Design</li>
                        </ul> 
                </div>
                <div class="skill-4">
                        <h4>4 - Drones</h4>
                        <ul>
                                <li>UI Design</li>
                                <li>Website & Digital Design</li>
                                <li> Brading & Visual Identity</li>
                                <li>Print Design</li>
                        </ul> 
                </div>
            </div>
    </div>

    <div class="instagram">
        <img src="../images/instagram.jpg" alt="Instagram photo" width="120%" height="80%">
    </div>
</div>