<%- include('../includes/navigation.ejs') %>

<br> <br> <br>
<br><br>
<link rel="stylesheet" type="text/css" media="screen" href="../assets/login.css" />
<div class="formimg">
    
    <form class="signup" action="/sign-up" method="POST">
        <p>Sign Up</p>
        <label>E-mail</label><br>
        <input name='email' placeholder="E-mail"><br><br>
        <label>Password</label><br>
        <input name='password' placeholder="Password"><br><br>
        <label>Confirm-Password</label><br>
        <input name='confirmpass' placeholder="Confirm-Password"><br><br><br>
        
        <button type="submit">Sign-Up</button>
    </form>
</div>

</body>
</html>