body{
    margin: 0px 10px 0 10px;
}

.second1{
    
    border: 2px solid rgb(173, 99, 192);
    
}

.second2{
    border: 2px solid rgb(173, 99, 192);
}

.second3{
    border: 2px solid rgb(173, 99, 192);
}

.navigationbar{
    display: flex;
    border: 2px solid black;
    height: 60px;
}

#nav ul {
    position:absolute;
    width:10px;
    left:0;
    top:100%;
    margin-left:5000px;/* hide the sub ul */
}
#nav li:hover ul {
    margin-left:0;/* reveal the sub ul on li:hover */
    
}

/*==== Dropdown Styles ====*/
#nav {
    float:right;
    display: inline;
    background:rgb(209, 130, 130);
}
#nav li {
    position:relative;/* set containing block for AP sub ul */
    float:left;
    text-align:left;
    background:rgb(82, 142, 255);
}
#nav li:hover {
    background:rgb(180, 165, 165);
}

#nav a {
    display:block;
    width:180px;
    height:1.75em;
    line-height:1.75em;
    color:rgb(59, 59, 59);
    font-weight:bold;
    text-decoration:none;
}

ul {
    margin:0;
    padding:0;
    list-style:none;
}

.leftinput{
display: block;
float: left;
}

.rightinput{
    display: block;
    float: right;
}

.input6 input{
    width: 500px;
}


.imageupload{
    margin: 5px 5px 5px 5px;
    border:1px dashed red;
    text-align: center;
}

.i1, .i2{
    font-size: 13px;
}

.i1{
    
}


.signup{
    border: 1px solid black; 
}



























































