.formimg::before {
    background-image: url(../public/images/login2.jpg);
    background-attachment:fixed; 
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1;
}

.signup{
    
    border: 1px solid rgba(85, 153, 180, 0.493);
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 15px 15px 25px;
    position: relative;
    top: 50px;
    left: 548px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(90, 160, 218, 0.692), rgba(66, 138, 122, 0.932));
    transition:0.5s;
}

.signup:hover{
    box-shadow: 5px 5px  15px rgb(29, 15, 3);
}


.signup > label{
    font-size: 24px;
    font-family: cursive;
}

.signup > p{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    position: relative;
    font-size: 40px;
    color: rgb(236, 111, 8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.signup > *{
    position: relative;
    top: -25px;
    
}

.signup > button{
        border-radius: 15px;
        background-color: rgb(236, 111, 8);
        border: none;
        color: rgb(8, 2, 2);
        padding: 10px 60px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;   
        transition: 0.3s;
}

.signup > button:hover{
    box-shadow: 3px 3px 10px black;
}






